@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
	color: #fff;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; // 1rem = 10px;

	@include respond(big-desktop) {
		font-size: 62.5%; // 1rem = 12px
	}

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px ,
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px
	}

	font-family: "Open Sans", sans-serif;
}

body {
	box-sizing: border-box;
	background: $background-1;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
