h1,
h2,
h3,
h4,
h5 {
	font-weight: 500 !important;
}

h1 {
	font-size: 2.5rem;
	padding-bottom: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.8rem;

	@include respond(phone) {
		font-size: 2.5rem;
	}
}

p {
	font-size: 1.6rem;
	padding: 0;
	line-height: 25px;
	margin-bottom: 0;

	@include respond(phone) {
		font-size: 2rem;
	}
}

span {
	font-size: 1.4rem;
	display: block;
}
